# tex auxillary files
*.log
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot


# bibliography related
*-blx.bib
*.run.xml
*.bbl
*.blg
*.bcf

# glossary related
glossary.ist
*.glo
*.acn
*.acr
*.alg
*.glg
*.gls*
.idx
.xdy

# backup files
*~
.\#
\#*


#project specific
infographics/Font-Awesome-SVG-PNG
infographics/Font-Awesome-SVG-PNG/*
.idea/
.idea/jsLibraryMappings.xml
.idea/latexcv.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml

out/
